:root 
{
    --color-1: hsl(0,100%,68%);
    --color-2: hsl(0,47%, 51%);
    --color-3: hsl(231, 30%, 20%);
    --color-4: hsl(210, 26%, 93%);
    --color-5:white;
}

html {
    font-size: 18px;
}


body {
    font-family: "Barlow Condensed", sans-serif;
    color: var(--color-3);
    overflow-x: hidden;
}
p 
{
    line-height: 1.44;
}
* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    font-size: 2.22rem;
    line-height: 1;
    text-transform: uppercase;
}



.btn 
{
    font-size: .77rem;
    letter-spacing: 0.066em;
    font-weight: bold;
    font-family: inherit;
    padding: .85em 1.78em;
    text-transform: uppercase;
    border:none;
    background-color: var(--color-1);
    transition: filter 300ms;
    color: var(--color-5);
    cursor: pointer;
    border-radius: 8px;
}

.btn:hover 
{
    filter: brightness(140%);
}


.menu 
{
    position: fixed;
    top: 5.55em;
    left: 50%;
    transform: translate(-50%, -100%);
    background-color: var(--color-5);
    width: 82.9%;
    text-align: center;
    padding:1.33em 7.7%;
    opacity: 0%;
    pointer-events: none;
    transition: opacity 300ms, transform 300ms;
}

.menu.open {
    opacity: 100%;
    pointer-events: all;
    transform: translate(-50%, 0%);
}
.menu_list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 1.33em;
    border-bottom: solid 1px hsla(231, 30%, 20%, 15%);
    padding-bottom: 1.33em;
    margin-bottom: 1.33em;
}

.menu_link 
{
    text-transform: uppercase;
    font-weight: bold;
    color:inherit;
    text-decoration: none;
    letter-spacing: 0.06em;
}

.menu_login {
    opacity: 50%;
}

.btn-menu {
    cursor: pointer;
    transition: transform 300ms;
}

.btn-menu:hover
{
    transform: scale(1.2);
}


body::before
{
    content: '';
    width: 75%;
    height: 425px;
    position: absolute;
    top:0px;
    left:50%;
    background-color: var(--color-4);
    z-index: -1;
    border-radius: 32px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.1em 8.5% 3.55em;
}


.nav {
    display: none;
}


.main {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 0 0 8.5%;
}

.hero_img-wrapper
{
    width: 100%;
    margin-bottom: 4.83em;
}

.hero_img {
    width: 131%;
    max-width: 916px;
    object-fit: contain;
}
.hero_content 
{
    padding: 1.5em 8.5% 5.1em 0;
}


.hero_overtitle {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: .88em;
    font-size: .83rem;
    margin-bottom: .88em;
}
.hero_new {
    padding: .2em .73em;
    color: var(--color-5);
    background-color: var(--color-3);
    border-radius: 16px;
    letter-spacing: .06em;
}

.hero_desc {
    opacity: 50%;
    letter-spacing: .33em;

}

.title {
    margin-bottom: .4em;
}

.hero_body {
    opacity: 75%;
    margin-bottom: 1.5em;
}

.hero_btns {
    display: flex;
    align-items: center;
    gap: 1.11em;
}

.hero_preview 
{
    opacity: 50%;
    text-transform: uppercase;
    letter-spacing: 0.17em;
    font-size: 0.77em;
}



@media (min-width: 768px)
{


    .menu {
        display: none;
    }
    .nav {
        display: flex;
        align-items: center;
        gap: 2.61em;
    }

    .header_dot 
    {
        width: 6px;
        height: 6px;
        background-color: var(--color-3);
        opacity: 15%;
        border-radius: 50%;
    }

    .nav_list {
        list-style: none;
        padding-left: none;
        display: flex;
        gap: 2.27em;
    }

    .nav_link {
        text-transform: uppercase;
        font-size: .83rem;
        font-weight: bold;
        text-decoration: none;
        letter-spacing: 0.06em;
        color:inherit;
        position: relative;

    }
    .nav_link::after
    {
        content: '';
        width: 0%;
        height: 1px;
        background-color: var(--color-3);
        position: absolute;
        bottom: 0px;
        left: 0px;
        transition:width 300ms;

    }

    .nav_link:hover::after
    {
        width: 100%;
    }
    .btn-menu {
        display: none;
    }
}


@media (min-width: 1440px) {


    h1 {
        font-size: 3.55rem;
    }

    .header {
        padding: 3.55em 11.4% 6.88em;
    }
    


    .main {
        flex-direction: row;
        align-items: center;
        padding-left: 11.4%;
    }

    .hero_img-wrapper {
        margin-bottom: 0;
    }

    .hero_content {
        padding: 2.11em 0 2.88em;
        width: 42%;
    }

    .hero_img-wrapper 
    {
        width: 50%;
        position: relative;
    }
  
    .hero_img{
        position: absolute;
        width: 300%;
        left: 0px;
        top: 0px;
        transform: translateY(-50%);
    }
    
}